body {
    height: 100vh;
    background: linear-gradient(360deg, rgb(255, 173, 0), rgb(255, 116, 116));
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    font-family:  "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;;
}

a {
    text-decoration: none;
}

p {
    color: #ffffff;
}

.footer_link {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    outline: none;
    color: #fff;
    background-color: #eb6100;
    padding: 20px 45px;
    border-radius: 30px;
    font-weight: bold;
}

button:hover {
    background-color:#ffffff;
    color: #eb6100;
}

.title {
    font-size: 40px;
    
}