body {
    height: 100vh;
    position: relative;
    z-index: 1;
    background: linear-gradient(360deg, rgb(255, 173, 0), rgb(255, 116, 116));
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    font-family:  "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;;
}

a {
    text-decoration: none;
}

p {
    color: #ffffff;
}

.footer_link {
    display: flex;
    justify-content: center;
}

.footer_link a {
    margin-bottom: 0;
}

.footer_link p {
    margin-bottom: 0;
}

button {
    border: none;
    outline: none;
    color: #fff;
    background-color: #eb6100;
    padding: 20px 45px;
    border-radius: 30px;
    font-weight: bold;
}

button:hover {
    background-color:#ffffff;
    color: #eb6100;
}

.title {
    font-size: 40px;
}

/*about　style*/

.content {
    color: rgb(205, 0, 0);
    width: 600px;
    position: absolute;
    top: 50%; 
    left: 50%;  
    transform: translateY(-50%) translateX(-50%); 
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.box {
    background-color: #ffffff;
    
}

.box p {
    color: rgb(205, 0, 0);
}

/*developers　style*/
.name {
    font-size: 20px;
}

/*背景ひらひら*/
#particles-js{ 
    position:fixed;
    z-index:-1;
    width: 100%;
    height: 100%;
    
    }

    .omikuji-paper {
        margin: 0 auto;
        display: block;
        width: 20%;
        padding: 60px 0;
        background-color:#fff;
        color: rgb(193, 33, 33);
        margin-bottom: 30px;
    }

.result-text {
    
}