body {
    height: 100vh;
    position: relative;
    z-index: 1;
    background: linear-gradient(360deg, rgb(255, 173, 0), rgb(255, 116, 116));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    text-align: center;
    color: #ffffff;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

a {
    text-decoration: none;
}

p {
    color: #ffffff;
}

.footer_link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.footer_link a {
    margin: 5px; 
}

button {
    border: none;
    outline: none;
    color: #fff;
    background-color: #eb6100;
    padding: 10px 20px; 
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s; 
    font-size: 1.8em; 
    padding: 15px 30px; 
}

button:hover {
    background-color: #ffffff;
    color: #eb6100;
}

.title {
    font-size: 3em; 
}

.content {
    color: rgb(205, 0, 0);
    max-width: 90%; 
    margin: auto; 
    position: relative;
    padding: 20px; 
}

.omikuji-paper {
    margin: 20px auto;
    width: 30%;
    padding: 30px 0;
    background-color: #fff;
    color: rgb(193, 33, 33);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative; 
    z-index: 2; 
}


img {
    max-width: 70%;
    height: auto;
}

#shakePrompt {
    color: #ffffff;
    font-size: 2em; 
    position: absolute;
    bottom: 10%; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    padding: 10px; 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px; 
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: 2em; 
    }

    .content, .omikuji-paper {
        width: 100%; 
    }

    button {
        padding: 15px 30px; 
        margin-bottom: 30px;
    }

    #shakePrompt {
        font-size: 1.2em; 
    }
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.footer_link a {
    font-size: 1.1em; 
}


#omikujiImage {
    position: fixed;
    top: 50%;
    left: 50%;
}

.card {
    font-size: 1.5em; 
    text-align: center; 
    padding: 10px; 
}